input {
  background-color: none;

  border-radius: 20px;
  font-size: 20px;
  padding: 3px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;

}

button {
  font-size: 20px;
  outline: none;
  margin: 20px;
  border-radius: 20px;
}

button:hover {
  box-shadow: 3px -3px lightgrey;
  padding: 5px;
  font-size: 24px;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  padding-left: 10%;
  padding-right: 10%;
}

.contentBox {
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 3px -3px lightgrey;
  margin: 10px;
  padding: 10px;
}

.answerBox {
  min-height: 150px;
}
/* learned the next few lines of code from w3school. I unfortunately can't find the correct link for the specific page. */
.typing {
  overflow: hidden;
  border-right: 5px solid #2fafaf;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typewriter 3.5s steps(40, end), cursor .75s step-end infinite;
}

input.typing {
  border-left: 5px solid #2fafaf;
  border-left: none;
}

#result {
  display: none;
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor {
  from, to {border-color: transparent }
  50% { border-color: #2fafaf; }
}
